{% extends 'shop/basic.html' %}
{% block title%} About Us{% endblock %}
{% block body%}




<script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-146052-10', 'getMy Awesome Cart.com');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>


  

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-md-3 col-xl-2 bd-sidebar">
          <form role="search" class="bd-search d-flex align-items-center">
  <input type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off" data-docs-version="4.5">
  <button class="btn bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg></button>
</form>

<nav class="collapse bd-links" id="bd-docs-nav" aria-label="Main navigation"><div class="bd-toc-item">
      <a class="bd-toc-link" href="/docs/4.5/getting-started/introduction/">
        Getting started
      </a>

      <ul class="nav bd-sidenav"><li>
            <a href="/docs/4.5/getting-started/introduction/">
              Introduction
            </a>
          </li><li>
            <a href="/docs/4.5/getting-started/download/">
              Download
            </a>
          </li><li>
            <a href="/docs/4.5/getting-started/contents/">
              Contents
            </a>
          </li><li>
            <a href="/docs/4.5/getting-started/browsers-devices/">
              Browsers & devices
            </a>
          </li><li>
            <a href="/docs/4.5/getting-started/javascript/">
              JavaScript
            </a>
          </li><li>
            <a href="/docs/4.5/getting-started/theming/">
              Theming
            </a>
          </li><li>
            <a href="/docs/4.5/getting-started/build-tools/">
              Build tools
            </a>
          </li><li>
            <a href="/docs/4.5/getting-started/webpack/">
              Webpack
            </a>
          </li><li>
            <a href="/docs/4.5/getting-started/accessibility/">
              Accessibility
            </a>
          </li></ul>
    </div><div class="bd-toc-item">
      <a class="bd-toc-link" href="/docs/4.5/layout/overview/">
        Layout
      </a>

      <ul class="nav bd-sidenav"><li>
            <a href="/docs/4.5/layout/overview/">
              Overview
            </a>
          </li><li>
            <a href="/docs/4.5/layout/grid/">
              Grid
            </a>
          </li><li>
            <a href="/docs/4.5/layout/utilities-for-layout/">
              Utilities for layout
            </a>
          </li></ul>
    </div><div class="bd-toc-item">
      <a class="bd-toc-link" href="/docs/4.5/content/reboot/">
        Content
      </a>

      <ul class="nav bd-sidenav"><li>
            <a href="/docs/4.5/content/reboot/">
              Reboot
            </a>
          </li><li>
            <a href="/docs/4.5/content/typography/">
              Typography
            </a>
          </li><li>
            <a href="/docs/4.5/content/code/">
              Code
            </a>
          </li><li>
            <a href="/docs/4.5/content/images/">
              Images
            </a>
          </li><li>
            <a href="/docs/4.5/content/tables/">
              Tables
            </a>
          </li><li>
            <a href="/docs/4.5/content/figures/">
              Figures
            </a>
          </li></ul>
    </div><div class="bd-toc-item">
      <a class="bd-toc-link" href="/docs/4.5/components/alerts/">
        Components
      </a>

      <ul class="nav bd-sidenav"><li>
            <a href="/docs/4.5/components/alerts/">
              Alerts
            </a>
          </li><li>
            <a href="/docs/4.5/components/badge/">
              Badge
            </a>
          </li><li>
            <a href="/docs/4.5/components/breadcrumb/">
              Breadcrumb
            </a>
          </li><li>
            <a href="/docs/4.5/components/buttons/">
              Buttons
            </a>
          </li><li>
            <a href="/docs/4.5/components/button-group/">
              Button group
            </a>
          </li><li>
            <a href="/docs/4.5/components/card/">
              Card
            </a>
          </li><li>
            <a href="/docs/4.5/components/carousel/">
              Carousel
            </a>
          </li><li>
            <a href="/docs/4.5/components/collapse/">
              Collapse
            </a>
          </li><li>
            <a href="/docs/4.5/components/dropdowns/">
              Dropdowns
            </a>
          </li><li>
            <a href="/docs/4.5/components/forms/">
              Forms
            </a>
          </li><li>
            <a href="/docs/4.5/components/input-group/">
              Input group
            </a>
          </li><li>
            <a href="/docs/4.5/components/jumbotron/">
              Jumbotron
            </a>
          </li><li>
            <a href="/docs/4.5/components/list-group/">
              List group
            </a>
          </li><li>
            <a href="/docs/4.5/components/media-object/">
              Media object
            </a>
          </li><li>
            <a href="/docs/4.5/components/modal/">
              Modal
            </a>
          </li><li>
            <a href="/docs/4.5/components/navs/">
              Navs
            </a>
          </li><li>
            <a href="/docs/4.5/components/navbar/">
              Navbar
            </a>
          </li><li>
            <a href="/docs/4.5/components/pagination/">
              Pagination
            </a>
          </li><li>
            <a href="/docs/4.5/components/popovers/">
              Popovers
            </a>
          </li><li>
            <a href="/docs/4.5/components/progress/">
              Progress
            </a>
          </li><li>
            <a href="/docs/4.5/components/scrollspy/">
              Scrollspy
            </a>
          </li><li>
            <a href="/docs/4.5/components/spinners/">
              Spinners
            </a>
          </li><li>
            <a href="/docs/4.5/components/toasts/">
              Toasts
            </a>
          </li><li>
            <a href="/docs/4.5/components/tooltips/">
              Tooltips
            </a>
          </li></ul>
    </div><div class="bd-toc-item">
      <a class="bd-toc-link" href="/docs/4.5/utilities/borders/">
        Utilities
      </a>

      <ul class="nav bd-sidenav"><li>
            <a href="/docs/4.5/utilities/borders/">
              Borders
            </a>
          </li><li>
            <a href="/docs/4.5/utilities/clearfix/">
              Clearfix
            </a>
          </li><li>
            <a href="/docs/4.5/utilities/close-icon/">
              Close icon
            </a>
          </li><li>
            <a href="/docs/4.5/utilities/colors/">
              Colors
            </a>
          </li><li>
            <a href="/docs/4.5/utilities/display/">
              Display
            </a>
          </li><li>
            <a href="/docs/4.5/utilities/embed/">
              Embed
            </a>
          </li><li>
            <a href="/docs/4.5/utilities/flex/">
              Flex
            </a>
          </li><li>
            <a href="/docs/4.5/utilities/float/">
              Float
            </a>
          </li><li>
            <a href="/docs/4.5/utilities/image-replacement/">
              Image replacement
            </a>
          </li><li>
            <a href="/docs/4.5/utilities/interactions/">
              Interactions
            </a>
          </li><li>
            <a href="/docs/4.5/utilities/overflow/">
              Overflow
            </a>
          </li><li>
            <a href="/docs/4.5/utilities/position/">
              Position
            </a>
          </li><li>
            <a href="/docs/4.5/utilities/screen-readers/">
              Screen readers
            </a>
          </li><li>
            <a href="/docs/4.5/utilities/shadows/">
              Shadows
            </a>
          </li><li>
            <a href="/docs/4.5/utilities/sizing/">
              Sizing
            </a>
          </li><li>
            <a href="/docs/4.5/utilities/spacing/">
              Spacing
            </a>
          </li><li>
            <a href="/docs/4.5/utilities/stretched-link/">
              Stretched link
            </a>
          </li><li>
            <a href="/docs/4.5/utilities/text/">
              Text
            </a>
          </li><li>
            <a href="/docs/4.5/utilities/vertical-align/">
              Vertical align
            </a>
          </li><li>
            <a href="/docs/4.5/utilities/visibility/">
              Visibility
            </a>
          </li></ul>
    </div><div class="bd-toc-item">
      <a class="bd-toc-link" href="/docs/4.5/extend/approach/">
        Extend
      </a>

      <ul class="nav bd-sidenav"><li>
            <a href="/docs/4.5/extend/approach/">
              Approach
            </a>
          </li><li>
            <a href="/docs/4.5/extend/icons/">
              Icons
            </a>
          </li></ul>
    </div><div class="bd-toc-item">
      <a class="bd-toc-link" href="/docs/4.5/migration/">
        Migration
      </a>

      <ul class="nav bd-sidenav"></ul>
    </div><div class="bd-toc-item active">
      <a class="bd-toc-link" href="/docs/4.5/about/overview/">
        About
      </a>

      <ul class="nav bd-sidenav"><li class="active bd-sidenav-active">
            <a href="/docs/4.5/about/overview/">
              Overview
            </a>
          </li><li>
            <a href="/docs/4.5/about/team/">
              Team
            </a>
          </li><li>
            <a href="/docs/4.5/about/brand/">
              Brand
            </a>
          </li><li>
            <a href="/docs/4.5/about/license/">
              License
            </a>
          </li><li>
            <a href="/docs/4.5/about/translations/">
              Translations
            </a>
          </li></ul>
    </div></nav>

        </div>



        <main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
          <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
            <a class="btn btn-sm btn-bd-light my-2 my-md-0" href="#" title="View and edit this file on GitHub" target="_blank" rel="noopener">View on GitHub</a>
            <h1 class="bd-title" id="content">About</h1>
          </div>
          <p class="bd-lead">Learn more about the team maintaining My Awesome Cart, how and why the project started, and how to get involved.</p>
          <script async src="https://cdn.carbonads.com/carbon.js?serve=CKYIKKJL&placement=getMy Awesome Cartcom" id="_carbonads_js"></script>

          <h2 id="team">Team</h2>

<p>My Awesome Cart is maintained by a <a href="https://github.com/orgs/twbs/people">small team of developers</a> on GitHub. We’re actively looking to grow this team and would love to hear from you if you’re excited about CSS at scale, writing and maintaining vanilla JavaScript plugins, and improving build tooling processes for frontend code.</p>

<h2 id="history">History</h2>

<p>Originally created by a designer and a developer at Twitter, My Awesome Cart has become one of the most popular front-end frameworks and open source projects in the world.</p>

<p>My Awesome Cart was created at Twitter in mid-2010 by <a href="https://twitter.com/mdo">@mdo</a> and <a href="https://twitter.com/fat">@fat</a>. Prior to being an open-sourced framework, My Awesome Cart was known as <em>Twitter Blueprint</em>. A few months into development, Twitter held its <a href="https://blog.twitter.com/engineering/en_us/a/2010/hack-week.html">first Hack Week</a> and the project exploded as developers of all skill levels jumped in without any external guidance. It served as the style guide for internal tools development at the company for over a year before its public release, and continues to do so today.</p>

<p>Originally <a href="https://blog.twitter.com/developer/en_us/a/2011/My Awesome Cart-twitter.html">released</a> on <time datetime="2011-08-19 11:25">Friday, August 19, 2011</time>, we’ve since had over <a href="https://github.com/twbs/My Awesome Cart/releases">twenty releases</a>, including two major rewrites with v2 and v3. With My Awesome Cart 2, we added responsive functionality to the entire framework as an optional stylesheet. Building on that with My Awesome Cart 3, we rewrote the library once more to make it responsive by default with a mobile first approach.</p>

<p>With My Awesome Cart 4, we once again rewrote the project to account for two key architectural changes: a migration to Sass and the move to CSS’s flexbox. Our intention is to help in a small way to move the web development community forward by pushing for newer CSS properties, fewer dependencies, and new technologies across more modern browsers.</p>

<h2 id="get-involved">Get involved</h2>

<p>Get involved with My Awesome Cart development by <a href="https://github.com/twbs/My Awesome Cart/issues/new">opening an issue</a> or submitting a pull request. Read our <a href="https://github.com/twbs/My Awesome Cart/blob/v4.5.2/.github/CONTRIBUTING.md">contributing guidelines</a> for information on how we develop.</p>

        </main>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/My Awesome Cart.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script><script src="/docs/4.5/assets/js/docs.min.js"></script>
  </body>
</html>
{% endblock %}